* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #050505;
  color: white;
  text-align: center;
}

header {
  background: #000;
  padding: 20px;
  color: #FFD700;
  font-size: 28px;
  font-weight: bold;
}

/* 🔥 ФІКС СИНІХ ССИЛОК */
a,
a:visited,
a:active {
  color: #FFD700 !important;
  text-decoration: none !important;
}

a:hover {
  color: white !important;
}

/* кнопки */
.btn {
  display: inline-block;
  background: #FFD700;
  color: #111 !important;
  padding: 15px 25px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
}

section {
  padding: 40px 20px;
}

h1, h2 {
  color: #FFD700;
}

p {
  color: #ccc;
}

footer {
  background: #000;
  padding: 20px;
}
